<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	
	
	<select id="checkMId" parameterType="ManagerVO" resultType="ManagerVO">
		SELECT * FROM MANAGER
		 WHERE id=#{id}
	</select>	
	<select id="loginManager" parameterType="ManagerVO" resultType="ManagerVO">
		SELECT * FROM MANAGER
		 WHERE id=#{id} AND pw=#{pw}
	</select>

	<select id="checkId" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT * FROM CUSTOMER
		 WHERE id=#{id}
	</select>	
	<select id="loginCustomer" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT cno, name, gender, id, pw, tel, email, addr
		FROM CUSTOMER
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<select id="getProductList" resultType="ProductVO">
		<![CDATA[
		SELECT * FROM PRODUCT
		WHERE PNO < 100000
		ORDER BY pno desc
		 ]]>
	</select>
	<select id="getProductList2" resultType="ProductVO">
		<![CDATA[
		SELECT * FROM PRODUCT
		WHERE PNO >= 100000
		ORDER BY pno desc
		 ]]>
	</select>
	<select id="getQuestionList" resultType="QuestionVO">
		SELECT * FROM QUESTION
		WHERE qno NOT IN (SELECT qno FROM ANSWER)
	</select>
	<select id="getQuestionAnswer" parameterType="int" resultType="hashmap">
		SELECT Q.qno qno, Q.qname qname, Q.qmessage qmessage, A.amessage amessage
		FROM question Q LEFT OUTER JOIN answer A
		ON Q.qno = A.qno
        WHERE Q.cno = #{cno}
	</select>
	<update id="modifyProduct" parameterType="ProductVO">
		UPDATE PRODUCT 
		SET img=#{img}, pname=#{pname},price=#{price},description=#{description},stock=#{stock}
		WHERE pno=#{pno}
	</update>
	
	<delete id="deleteProduct" parameterType="ProductVO">
		DELETE FROM PRODUCT
		WHERE pno=#{pno}
	</delete>
	<insert id="insertAnswer" parameterType="AnswerVO">
		INSERT INTO ANSWER(qno,mno,cno,amessage)
		 VALUES(#{qno},#{mno},#{cno},#{amessage})
	</insert>
	<insert id="insertProduct" parameterType="ProductVO">
		<if test="img != null">
		INSERT INTO PRODUCT(pno, img, pname, price, description, stock) 
		 VALUES(product_seq.nextval,#{img},#{pname},#{price},#{description},#{stock})
		</if>
		<if test="img == null"> <!-- DELETE THIS LATER WHEN IMG WORKS -->
		INSERT INTO PRODUCT(pno, pname, price, description, stock) 
		 VALUES(product_seq.nextval,#{pname},#{price},#{description},#{stock})
		</if>
	</insert>
	<insert id="insertProduct2" parameterType="ProductVO">
		<if test="img != null">
		INSERT INTO PRODUCT(pno, img, pname, price, description, stock) 
		 VALUES(product2_seq.nextval,#{img},#{pname},#{price},#{description},#{stock})
		</if>
		<if test="img == null"> <!-- DELETE THIS LATER WHEN IMG WORKS -->
		INSERT INTO PRODUCT(pno, pname, price, description, stock) 
		 VALUES(product2_seq.nextval,#{pname},#{price},#{description},#{stock})
		</if>
	</insert>
	<insert id="insertManager" parameterType="ManagerVO">
		INSERT INTO MANAGER(mno, name, gender, id, pw, tel, email, addr)
		 VALUES(manager_seq.nextval,#{name},#{gender},#{id},#{pw},#{tel},#{email},#{addr})
	</insert>
	
	<insert id="insertCart" parameterType="ListOrderVO">
		INSERT INTO LIST_ORDER(cno,pno,ocnt)
		 VALUES(#{cno},#{pno},#{ocnt})
	</insert>
	<insert id="insertQustion" parameterType="QuestionVO">
		INSERT INTO QUESTION(qno, cno, qname, qmessage, regdate, cnt)
		 VALUES(question_seq.nextval,#{cno},#{qname},#{qmessage},sysdate,0)
	</insert>
	<insert id="insertCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER(cno, name, gender, id, pw, tel, email, addr)
		 VALUES(customer_seq.nextval,#{name},#{gender},#{id},#{pw},#{tel},#{email},#{addr})
	</insert>

	
	
	
</mapper>