<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpDao">
	
	<select id="empSelect" resultType="empVO">
		Select *
		from emp
	</select>
	
	<!--  *****조인인 경우 
				reusltType = "hashmap"  ********** 
			[참고] mybatis 자료형 : int, String, hashmap-->
				
	<select id="empDept" resultType="hashmap">
		select 	e.empno as empno,
				e.ename as ename,
				d.dname as dname
		from emp e Inner Join dept d
		on e.deptno = d.deptno
	</select>

</mapper>

